@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div id="menuItems" class="center">
        <div class="item"><a href="Menu">Menu</a></div>
        <div class="item"><a href="Privacy">Privacy Policy</a></div>
        <div class="item"><a href="About">About</a></div>
    </div>
<img id="banner" src="~/DinoDiner-32.png" class="center"/>