.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#menuItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #22B573;
    height: 100px;
    width: 100%;
}

.main {
    display: grid;
    grid-template-columns: 1fr 300px;
}

#text-search {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

#search-form {
    margin-top: 20px;
    background-color: #22B573;
}

#filter{
    height: 50px;
    width: 150px;
    margin: 0px 75px 0px 75px;
    
}

.menu-category-label{
    margin-right: 200px;
    margin-left: 20px;
    font-size: 18px;
}

.ingredient-label {
    margin-right: 200px;
    margin-left: 20px;
    font-size: 18px;
}

#menu-category-text {
    color: #603813;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

#price-text {
    color: #603813;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

#exclude-ingredients-text {
    color: #603813;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

#search-text {
    margin-right: 20px;
    font-size: 18px;
    color: #603813;
}

.price-label{
    margin-left: 20px;
    font-size: 18px;
}

input[type=number]{
    width: 50px;
}

label {
    color: #603813;
}

.item {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

a {
   color: #603813;
   text-decoration: none;
   font-family: Arial;
   font-weight: bold;
}
a:hover{
    color: white;
}

h1 {
    text-align: center;
    color: #603813;
    font-size: 50px;
}

#dino-text {
    text-align: center;
    color: #22B573;
    font-size: 30px;
}

h2 {
    color: #603813;
    font-size: 40px;
}

.menu-item {
    color: #22B573;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
}
.ingre-item {
    text-align: left;
    color: #603813;
}
