<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.CretaceousCombo">
            <summary>
            class representing a Combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Entree">
            <summary>
            represents the Entree in the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Drink">
            <summary>
            represents the Drink in the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Side">
            <summary>
            represents the Side in the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Toy">
            <summary>
            represents the toy in the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Price">
            <summary>
            repsents the total cost of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Calories">
            <summary>
            represents the total calories in the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Ingredients">
            <summary>
            represents all the ingredients used to make this combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Description">
            <summary>
            returns the description of this menu item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Special">
            <summary>
            returns the specials of this combo
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.#ctor(DinoDiner.Menu.Entree)">
            <summary>
            Default constructor for a CrestaceousCombo
            </summary>
            <param name="entree">the entree</param>
        </member>
        <member name="T:DinoDiner.Menu.Drink">
            <summary>
            base class for a drink menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Size">
            <summary>
            gets and sets the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ice">
            <summary>
            gets and sets whether there is ice
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.HoldIce">
            <summary>
            sets ice to false
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.JurassicJava">
            <summary>
            public class fof JurrasicJava
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.RoomForCream">
            <summary>
            specifies whether the is room for cream
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Decaf">
            <summary>
            specifies whether it is decaf
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.#ctor">
            <summary>
            default constuctor for JurrasicJava
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Size">
            <summary>
            specifies the size and sets other values accordingly
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Ingredients">
            <summary>
            returns the ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Description">
            <summary>
            returns the description of this menu item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Special">
            <summary>
            returns special things about this menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.LeaveRoomForCream">
            <summary>
            leaves room for cream
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.AddIce">
            <summary>
            adds ice
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sodasaurus">
            <summary>
            represents a Sodasaurs drink object
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Flavor">
            <summary>
            specifies the flavor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.#ctor">
            <summary>
            default constructor for Sodasaurus
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Ingredients">
            <summary>
            returns the ingredients of sodasaurs
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Description">
            <summary>
            returns the description of this menu item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Special">
            <summary>
            returns special things about this menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Size">
            <summary>
            gets and sets the size, as well as changes the calories and price accordingly
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.SodasaurusFlavor">
            <summary>
            represents the possible flavors for a sodasaurus
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Cola">
            <summary>
            cola flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Orange">
            <summary>
            orange flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Vanilla">
            <summary>
            vanilla flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Chocolate">
            <summary>
            chocolate flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.RootBeer">
            <summary>
            rootbeer flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Cherry">
            <summary>
            cherry flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Lime">
            <summary>
            lime flavor
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Tyrannotea">
            <summary>
            class for Tyrannotea
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Sweet">
            <summary>
            specifies whether it is sweet or not
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Lemon">
            <summary>
            specifies whether there is lemon or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.#ctor">
            <summary>
            default constructor for Tyrannotea
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Size">
            <summary>
            gets and sets the size, as well as changes the calories and price accordingly
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Ingredients">
            <summary>
            returns the list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Description">
            <summary>
            returns the description of this menu item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Special">
            <summary>
            returns special things about this menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.AddLemon">
            <summary>
            adds lemon
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.updateCals">
            <summary>
            updates the calories when sweetener is added or removed
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Water">
            <summary>
            public class for Water
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Lemon">
            <summary>
            specifies whether there is lemon
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.#ctor">
            <summary>
            default constructor for water
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Size">
            <summary>
            Specifies the size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.AddLemon">
            <summary>
            adds lemon
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Ingredients">
            <summary>
            returns the ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Description">
            <summary>
            returns the description of this menu item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="P:DinoDiner.Menu.Water.Special">
            <summary>
            returns special things about this menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="T:DinoDiner.Menu.Brontowurst">
            <summary>
            A class representing the Brontowurst menu item
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Brontowurst.bun">
            <summary>
            Whether the bun is included in the Brontowurst
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Brontowurst.onions">
            <summary>
            Whether the onions are included in the Brontowurst
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Brontowurst.peppers">
            <summary>
            Whether the peppers are included in the Brontowurst
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Ingredients">
            <summary>
            A list of the ingredients that are included in the current order of the Brontowurst
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Description">
            <summary>
            returns the description of this menu item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Special">
            <summary>
            returns special things about this menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.#ctor">
            <summary>
            Creates a Brontowurst object with the correct price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldBun">
            <summary>
            allows the user to not include a bun with his/her Brontowurst
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldPeppers">
            <summary>
            allows the user to not include the peppers with his/her Brontowurst
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldOnion">
            <summary>
            allows the user to not include the onions with his/her Brontowurst
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.DinoNuggets">
            <summary>
            A class representing the Dino Nuggets menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Ingredients">
            <summary>
            A list of the ingredients that are included in the current order of the Dino Nuggets
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Special">
            <summary>
            returns special things about this order of dino nuggets
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Description">
            <summary>
            returns the description of a dino nugget item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.#ctor">
            <summary>
            Creates a DinoNuggets object with the correct price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.AddNugget">
            <summary>
            allows the user to add a nugget to their order for an extra $0.25 and updates the calories accordingly
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.RemoveNugget">
            <summary>
            allows the user to remove a nugget to their order for an extra $0.25 and updates the calories accordingly
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entree">
            <summary>
            represents the Entree base objext
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Ingredients">
            <summary>
            represents the list of ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.PrehistoricPBJ">
            <summary>
            A class representing the Prehistoric PBJ menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Ingredients">
            <summary>
            gets the list of ingredients for the menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Special">
            <summary>
            describes the special conditions for a Prehistoric PBJ
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Description">
            <summary>
            gets the description for a PBJ item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.#ctor">
            <summary>
            constructor for a Prehistoric PBJ item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            allows the customer to hold the peanutbutter
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldJelly">
            <summary>
            allows the customer to hold the jelly
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.PterodactylWings">
            <summary>
            A class representing the Prerodactyl Wings menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Ingredients">
            <summary>
            A list of the ingredients that are included in the current order of the Pterodactyl Wings
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Description">
            <summary>
            gets the description of this item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Special">
            <summary>
            returns special things about this order item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.#ctor">
            <summary>
            Creates a PterodactylWings object with the correct price and calories
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.SteakosaurusBurger">
            <summary>
            A class representing the Steakosaurus Burger menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Ingredients">
            <summary>
            A list of the ingredients that are included in the current order of the Steakosaurus Burger
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Description">
            <summary>
            returns the description of this menu item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Special">
            <summary>
            returns special things about this menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.#ctor">
            <summary>
            Creates a SteakosaurusBurger object with the correct price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldBun">
            <summary>
            allows the user to not include a bun with his/her Steakosaurus Burger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldPickle">
            <summary>
            allows the user to not include the pickles with his/her Steakosaurus Burger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldKetchup">
            <summary>
            allows the user to not include the ketchup with his/her Steakosaurus Burger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldMustard">
            <summary>
            allows the user to not include the mustard with his/her Steakosaurus Burger
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.TRexKingBurger">
            <summary>
            A class representing the T-Rex King Burger menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Ingredients">
            <summary>
            A list of the ingredients that are included in the current order of the T-Rex King Burger
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Description">
            <summary>
            returns the description of this menu item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Special">
            <summary>
            returns special things about this menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.#ctor">
            <summary>
            Creates a TRexKingBurger object with the correct price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldBun">
            <summary>
            allows the user to not include a bun with his/her T-Rex King Burger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldLettuce">
            <summary>
            allows the user to not include lettuce with his/her T-Rex King Burger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldTomato">
            <summary>
            allows the user to not include tomato with his/her T-Rex King Burger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldOnion">
            <summary>
            allows the user to not include onion with his/her T-Rex King Burger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldPickle">
            <summary>
            allows the user to not include the pickles with his/her T-Rex King Burger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldKetchup">
            <summary>
            allows the user to not include the ketchup with his/her Steakosaurus Burger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMustard">
            <summary>
            allows the user to not include the mustard with his/her Steakosaurus Burger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMayo">
            <summary>
            allows the user to not include mayo with his/her T-Rex King Burger
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.VelociWrap">
            <summary>
            A class representing the Velociwrap menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Ingredients">
            <summary>
            A list of the ingredients that are included in the current order of the Veloci-Wrap
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Description">
            <summary>
            returns the description of this menu item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Special">
            <summary>
            returns special things about this menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.#ctor">
            <summary>
            Creates a Veloci-Wrap object with the correct price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldDressing">
            <summary>
            allows the user to not include dressing with his/her Veloci-Wrap
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldLettuce">
            <summary>
            allows the user to not include the lettuce with his/her Veloci-Wrap
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldCheese">
            <summary>
            allows the user to not include the cheese with his/her Veloci-Wrap
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.IOrderItem">
            <summary>
            specifies 3 methods that are used by an order item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Price">
            <summary>
            gets the price of the order item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Description">
            <summary>
            gets the description of an order item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Special">
            <summary>
            gets the special conditions for this order item
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Menu">
            <summary>
            public class for the Menu object
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableMenuItems">
            <summary>
            returns a list of every single item on the menu for Dino Diner
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableEntrees">
            <summary>
            returns a list of the available entrees
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableSides">
            <summary>
            returns a list of the available sides
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableDrinks">
            <summary>
            returns a list of the available drinks
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Menu.ToString">
            <summary>
            returns the whole menu in string format
            </summary>
            <returns>the whole menu in string format</returns>
        </member>
        <member name="T:DinoDiner.Menu.MenuItem">
            <summary>
            Abstract class that represents all Menu Items
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MenuItem.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MenuItem.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MenuItem.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MenuItem.Description">
            <summary>
            gets the description of the item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MenuItem.Special">
            <summary>
            gets the special condtions for the item
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.MenuItem.PropertyChanged">
            <summary>
            event handler for property changed
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MenuItem.NotifyOfPropertyChanged(System.String)">
            <summary>
            Checks if properties have changed
            </summary>
            <param name="propertyName">name of the property</param>
        </member>
        <member name="T:DinoDiner.Menu.Order">
            <summary>
            Class for an order object
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Order.PropertyChanged">
            <summary>
            notifies when a property is changed
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.Items">
            <summary>
            gets and sets the list of items in the order
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.Add(DinoDiner.Menu.IOrderItem)">
            <summary>
            adds an item to the list of items
            </summary>
            <param name="item">the item being added</param>
        </member>
        <member name="M:DinoDiner.Menu.Order.Remove(DinoDiner.Menu.IOrderItem)">
            <summary>
            removes an item from the order
            </summary>
            <param name="item"></param>
            <returns>whether the item was able to be removed</returns>
        </member>
        <member name="P:DinoDiner.Menu.Order.SubtotalCost">
            <summary>
            gets and sets the subtotal cost
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxRate">
            <summary>
            gets and sets the sales tax rate
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxCost">
            <summary>
            gets and sets the sales tax cost
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.TotalCost">
            <summary>
            gets and sets the total cost
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.#ctor">
            <summary>
            constructor for an order item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.OnCollectionChanged(System.Object,System.Collections.Specialized.NotifyCollectionChangedEventArgs)">
            <summary>
            OnCollectionChanged
            </summary>
            <param name="sender">the sender</param>
            <param name="args">event handler</param>
        </member>
        <member name="T:DinoDiner.Menu.Fryceritops">
            <summary>
            Class representing the Fryceritops Side menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Size">
            <summary>
            Gets and sets the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Ingredients">
            <summary>
            gets the list of ingrediants
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Description">
            <summary>
            returns the description of this menu item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Special">
            <summary>
            returns special things about this menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.#ctor">
            <summary>
            Constructor for a Fryceritops Side menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.#ctor(DinoDiner.Menu.Size)">
            <summary>
            yes
            </summary>
            <param name="newSize"></param>
        </member>
        <member name="T:DinoDiner.Menu.MeteorMacAndCheese">
            <summary>
            class for the Meteor Mac and Cheese Side menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Size">
            <summary>
            Gets and sets the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Ingredients">
            <summary>
            gets the list of ingrediants
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Description">
            <summary>
            returns the description of this menu item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Special">
            <summary>
            returns special things about this menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.#ctor">
            <summary>
            Constructor for a Fryceritops Side menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.#ctor(DinoDiner.Menu.Size)">
            <summary>
            yes
            </summary>
            <param name="newSize">yes</param>
        </member>
        <member name="T:DinoDiner.Menu.MezzorellaSticks">
            <summary>
            class for a Mezzorella Sticks Side menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Size">
            <summary>
            Gets and sets the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Ingredients">
            <summary>
            gets the list of ingrediants
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Description">
            <summary>
            returns the description of this menu item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Special">
            <summary>
            returns special things about this menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.#ctor">
            <summary>
            Constructor for a Fryceritops Side menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.#ctor(DinoDiner.Menu.Size)">
            <summary>
            Constructor for a Fryceritops Side menu item
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Size">
            <summary>
            Enum representing the three sizes that a side can be
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Small">
            <summary>
            (0) represents the small Side size
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Medium">
            <summary>
            (1) represents the medium Side size
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Large">
            <summary>
            (2) represents the Large Side size
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Side">
            <summary>
            Abstract class representing all Side menu items
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Triceritots">
            <summary>
            class for the Triceritots Side menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Size">
            <summary>
            Gets and sets the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Ingredients">
            <summary>
            gets the list of ingrediants
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Description">
            <summary>
            returns the description of this menu item
            </summary>
            <returns>the description</returns>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Special">
            <summary>
            returns special things about this menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.ToString">
            <summary>
            returns the name of the menu item
            </summary>
            <returns>the name of the menu item</returns>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.#ctor">
            <summary>
            Constructor for a Fryceritops Side menu item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.#ctor(DinoDiner.Menu.Size)">
            <summary>
            Constructor for a Fryceritops Side menu item
            </summary>
        </member>
    </members>
</doc>
